langchain
langchain-community
langchain-groq
langchain-google-vertexai
langchain_mistralai
langchain_chroma
langchain-together
langchain-cerebras
#langchain_huggingface 
langchain-cohere
#langchain_ai21 
langchain-openai
python-dotenv
ipykernel
pip
numexpr
defusedxml
unstructured 
wikipedia
arxiv
pymupdf
faiss-cpu
docarray
langchain_elasticsearch
langchain_postgres